[Desktop Entry]
Name=PySpaceWar
Comment=Space game with gravity
Comment[pl]=Kosmiczna gra z grawitacją
Icon=pyspacewar
Exec=pyspacewar
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
